@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: rgb(214, 220, 223);
    overflow: hidden;
}

.day{
    background-image: url('./assets/white-bg.avif');
    color: black;
}

.night{
    background-image: url('https://img.freepik.com/free-vector/gradient-geometric-design-dark-background_23-2148425667.jpg?ga=GA1.1.1849991907.1733043705&semt=ais_hybrid');
    color: aliceblue;
    object-fit: contain;
    object-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.glassmor{
    background: rgba(69, 71, 56, 0.192);
    box-shadow: 0 8px 32px 0 rgba(195, 197, 231, 0.37);
    backdrop-filter: blur( 2px );
    /* border-radius: 10px; */
}
.blurd{
    background-color: rgba(115, 139, 132, 0.192);
    box-shadow: 0 0 100px rgba(184, 183, 127, 0.37);
}
::-webkit-scrollbar{
    width: 2px;
    cursor: all-scroll;
}
::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.007);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.521);
}
::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}
.shadowcss{
    box-shadow: 0 0 60px rgba(95, 91, 91, 0.144);
}
.x:hover,.thread:hover,.link:hover{
    color: rgb(0, 0, 0);
}
.git:hover{
    background-color: black;
    border-radius: 50%;
}
.insta{
    
    text-decoration: none; 
    background: linear-gradient(0deg, red, blue); 
    -webkit-background-clip: text; 
    background-clip: text; 
    transition: background-position 0.5s;
    background-size: 200%; 
    position: relative;
}
.insta:hover{
    background-position: 100%;
}