@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: rgb(214, 220, 223);
}
.day{
    background-image: url('./assets/white-bg.avif');
    color: black;
}

.night{
    background-image: url('./assets/black-bg.avif');
    color: aliceblue;
}
.glassmor{
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 8px 32px 0 rgba(195, 197, 231, 0.37);
    backdrop-filter: blur( 2px );
    /* border-radius: 10px; */
}
.blurd{
    background-color: rgba(255, 255, 255, 0.055);
    box-shadow: 0 0 30px rgba(195, 197, 231, 0.37);
}
::-webkit-scrollbar{
    width: 2px;
    cursor: all-scroll;
}
::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.007);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.521);
}
::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}
.shadowcss{
    box-shadow: 0 0 60px rgba(95, 91, 91, 0.144);
}
.x:hover,.thread:hover,.link:hover{
    color: rgb(0, 0, 0);
}
.git:hover{
    background-color: black;
    border-radius: 50%;
}
.insta{
    
    text-decoration: none; 
    background: linear-gradient(0deg, red, blue); 
    -webkit-background-clip: text; 
    background-clip: text; 
    transition: background-position 0.5s;
    background-size: 200%; 
    position: relative;
}
.insta:hover{
    background-position: 100%;
}